---
console.log('This runs in your terminal, not the browser')
import Layout from "../layouts/Layout.astro"
---
<Layout>
  <div class="container">
    <h1>PDF Craft</h1>
    <p>A complete online PDF management tool</p>
    <a href="/signin">Sign-in</a>
    <a href="/signup">Sign-up</a>
  </div>
</Layout>
