---
console.log('This runs in your terminal, not the browser')
import Layout from "../layouts/Layout.astro"
---
<Layout>
  <h1>PDF Craft</h1>
  <a href="/signin">Sign-in</a>
  <a href="/signup">Sign-up</a>
</Layout>