---
import AuthenticatedLayout from "../layouts/AuthenticatedLayout.astro";
import { MultiPdfUploader } from "../components";

if (!Astro.cookies.has('__session')) {
  return Astro.redirect('/signin')
}
---

<AuthenticatedLayout>
  <div>
    <h1>Merge PDF Files</h1>
    <MultiPdfUploader client:load />
  </div>
</AuthenticatedLayout>