---
import Layout from "../layouts/Layout.astro"
import { SigninForm } from '../components'
import { getFirebaseAuth } from '../firebase/server';

const auth = await getFirebaseAuth();

if (Astro.cookies.has('__session')) {
  const sessionCookie = Astro.cookies.get('__session')?.value
  let decodedCookie
  if (sessionCookie) {
    decodedCookie = await auth.verifySessionCookie(sessionCookie)
  }
  if (decodedCookie) {
    return Astro.redirect('/dashboard')
  }
}
---
<Layout>
  <div class="container">
    <h2>Sign-in to PDF-Craft</h2>
    <p>New to the app? <a href="/signup">Sign-up for an account</a></p>
    <SigninForm client:only />
  </div>
</Layout>