---
import Layout from "./Layout.astro";
import { Header, Footer } from '../components'
import '../styles/layout.css'
---

<Layout>
  <div class="authenticated-container">
    <Header />
    <div class="app-container">
      <slot/>
      <Footer />
    </div>
  </div>
</Layout>