---
import Layout from "./Layout.astro";
import { Header } from '../components'
import '../styles/layout.css'
---

<Layout>
  <div class="authenticated-container">
    <Header />
    <div class="app-container">
      <slot/>
      <div>Footer</div>
    </div>
  </div>
</Layout>