---
import '../styles/global.css'

import { getAuth } from 'firebase-admin/auth'
import { app } from '../firebase/server'

const auth = getAuth(app)
if (Astro.cookies.has('__session')) {
  const sessionCookie = Astro.cookies.get('__session')?.value
  let decodedCookie
  if (sessionCookie) {
    decodedCookie = await auth.verifySessionCookie(sessionCookie)
  }
  if (decodedCookie) {
    return Astro.redirect('/dashboard')
  }
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>PDF Craft</title>
  </head>
  <body>
    <slot />
  </body>
</html>